$background-1: #070920;
$background-2:  #1a1b2d;
$background-3: #303442;
$text: #ffffff;
$primary: #4532f0;
$secondary: #ec56b3;
$tertiary: #fd9f4b;
$input-dark: rgba(255, 230, 46, 0.31);
$input-light: #FFE62E;
$placeholder: rgba(255, 255, 255, 0.33);
$border: #50566B;